#AboutUS {
  color: white;
  position: relative;
  width: 100%;
  background-color: #0f0f0f;
  position: relative;
  top: 80px;
  border: 15px solid cadetblue;
  border: 15px solid cadetblue;
  border-radius: 10px 10px 10px 10px;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
