<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="Home" routerLink="">Home</a>
  </li>
  <li class="nav-item">
    <a name="Main" routerLink="/main">Main</a>
  </li>
  <li class="nav-item">
    <a name="Profile" routerLink="/profile">Profile</a>
  </li>
  <li class="nav-item" *ngIf="LoginIn(); else loggedIn">
    <a name="Login" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a name="Create/Edit" routerLink="/create-and-edit">Create/Edit Exam</a>
  </li>
  <li class="nav-item" *ngIf="isAdmin()">
    <!--*ngIf="isAdmin()" this is to hide admin button on nav until we can get login to work it wont work correctly-->
    <a name="Admin" routerLink="/admin">Admin</a>
  </li>
  <ng-template #loggedIn>
    <li class="nav-item">
      <a name="Logout" routerLink="/login">Logout</a>
    </li>
  </ng-template>
</ul>
