a {
  top:3px;
  position: relative;
  padding: 10px;
  margin-left: 25px;
  background-color: lightblue;
  color: black;
  border-radius: 5px;
}

  a:hover {
    background-color: red;
    border-bottom-style: solid;
    border-bottom-color: cadetblue;
    border-width: 5px;
  }



a :active {
  border: 5px solid;
}
