<app-navbar></app-navbar>
<section>
  <form #LoginForm="ngForm" (ngSubmit)="OnSubmit(Username.value,Password.value)">
    <section class="form-group">
      <label for="Username">Username</label><br /><input type="text" placeholder="Username" class="form-control" #Username ngModel name="Username" /><br />
      <label for="Password">Password</label><br /><input type="password" placeholder="Password" class="form-control" #Password ngModel name="Password" /><br />
      <button type="submit" class="btn-group-vertical">Login</button><br />
      <!--<button routerLink="/register" class="btn-group-vertical">Register</button><br />-->
      <button routerLink="/forgotpassword" class="btn-group-vertical">Forgot Password</button>
    </section>
  </form>
</section>

<!--formControlName="Username" class="form-control" id="Username"
id="Password" formControlName="Password"-->
<!--[formGroup]="LoginForm"-->
