a{
margin-left:95%;
}
a:hover{
  border: solid 2px cadetblue;
}

#SavedDocs {
  color: white;
  position: relative;
  background-color: #0f0f0f;
  position: relative;
  top: 80px;
  border: 15px solid cadetblue;
  border: 15px solid cadetblue;
  border-radius: 10px 10px 10px 10px;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#SavedSelection {
  border-style: solid;
  border-width: 1px;
  border-color: cadetblue;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 15px;
  opacity: 0.9;
  position: relative;
  padding: 10px;
  background-color: maroon;
  width: 300px;
  left: 40px;
  top: 15px;

}

#LoadBtn {
  border-style: solid;
  border-width: 1px;
  border-color: cadetblue;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 15px;
  opacity: 0.9;
  position: relative;
  padding: 10px;
  background-color: maroon;
  width: 100px;
  left: 75%;
  top: -87px;
}


