<app-navbar></app-navbar> <!--<a href="" title="Logout" id="userLogout">Logout</a>-->


<section id="SavedDocs" class="card">

  <section id="SavedSelection" class="card-body">
    <p>Select Exam:</p>
    <select id="slctSaved" title="Saved">
      <option selected disabled>Name...</option>
      <option>No Items To Display Yet</option>
      <option>No Items To Display Yet</option>
      <option>No Items To Display Yet</option>
    </select>
  </section>
  <section id="LoadBtn" class="card-body">

    <button id="btnGenerate" type="submit">Generate Exam</button >

  </section>


</section>
