<app-navbar></app-navbar>
<section class="card Section">
  <section  class="card-body">
    <section class="form-row">
      <section class="form-group col-md-3">
        <button routerLink="/register" class="btn-group-vertical">Register</button><br />
      </section>
      <section class="form-group col-md-7">
        <form>
          <label>Search For User:&nbsp;&nbsp;</label><input type="text" />
          <p>User Info</p>
        </form>
      </section>
    </section>
  </section>
</section>
