.Section {
  color: white;
  background-color: #0f0f0f;
  position: relative;
  top: 40px;
  border: 15px solid cadetblue;
  border: 15px solid cadetblue;
  border-radius: 10px 10px 10px 10px;
}

section section button {
  border: 0.1px solid gray;
  position: relative;
  border-radius: 0;
  padding: 5px 10px;
  height: 30%;
  letter-spacing: .1em;
  background: #13232f;
  color: #c1bdba;
  
}
section{
  position:relative;
}

