section form {
  font-family: 'Titillium Web', sans-serif;
  position: relative;

}
  section form input {
    font-size: 22px;
    width: 30%;
    padding: 5px 10px;
    color: black;
  }
  section form button {
    border: 0.1px solid gray;
    position: relative;
    border-radius: 0;
    padding: 11.4px 10px;
    letter-spacing: .1em;
    background: #13232f;
    color: #c1bdba;
  }
  section  {
    position:relative;
    margin-top:5%;
    padding: 3px;
    border: 2px solid #13232f;
  }

