 <app-navbar></app-navbar>
 <section>
   <p>
     Enter Email Address to begin Password Recovery Process.
   </p>
   <form class="form-inline">
     <input type="text" placeholder="Email" /><br />
     <button>Submit</button>
   </form>
 </section>
