.Section {
  color: white;
  background-color: #0f0f0f;
  position: relative;
  top: 40px;
  border: 15px solid cadetblue;
  border: 15px solid cadetblue;
  border-radius: 10px 10px 10px 10px;
}

.img {
  position: relative;
  height: 40px;
  width: 40px;
}

#seperatorTop {
  position: relative;
  width: 99.9%;
  height: 2px;
  background-color: white;
}
