<app-navbar></app-navbar>

<section class="card Section">
  <section class="card-body">
    <h1 class="card-title">Profile</h1>
    <img src="..." class="rounded float-right img" alt="...">
    <h3 class="card-subtitle mb-2 text-muted">Account Details</h3><br />
    <form>
      <section class="form-row">
        <section class="form-group col-md-6">
          <!-- currently the code used to store user information is put a class that is in built for web api called claimsidentity and becasue of this only some of the data is currently in the claim and the missing data needs to be inputted -->
          <label>Username:</label><br /><input type="text" value="{{UserClaims.Username}}" />
        </section>
        <section class="form-group col-md-6">
          <label>Password:</label><br /><input type="password" value="" />
        </section>
      </section>
      <hr id="seperatorTop">
      <h3 class="card-subtitle mb-2 text-muted">Pesonal Details</h3><br />
      <section class="form-row">
        <section class="form-group col-md-6">
          <label>Name</label><br /><input type="text" value="" />
        </section>
        <section class="form-group col-md-6">
          <label>Phone Number</label><br /><input type="text" value="" />
        </section>
      </section>

      <section class="form-row">
        <section class="form-group col-md-6">
          <label>Email</label><br /><input type="text" value="" />
        </section>
        <section class="form-group col-md-6">
          <label>Employemenet Date</label><br /><input type="text" value="" />
        </section>
      </section>

    </form>
  </section>
</section>
