body {
  margin: 0;
  margin-top: 0;
}

  body header h1 {
    position: relative;
    text-align: center;
    top: 45px;
  }

  body header {
    background-color: #13232f;
    color: #c1bdba;
    min-height: 150px;
  }

#contentStyle {
  position: relative;
  margin-left: 30%;
  margin-right: 25%;
}

body footer {
  margin-top:5%;
  background-color: #13232f;
  color: #c1bdba;
  min-height: 150px;
}
