<app-navbar></app-navbar>
<section>
  <form #RegisterForm="ngForm" (ngSubmit)="OnSubmit(RegisterForm)">
    <section class="form-row Section">
      <section class="form-group col-md-6">
        <input type="text" placeholder="Username" #Username ngModel name="Username" />
      </section>
      <section class="form-group col-md-6">
        <input type="password" placeholder="Password" #Password ngModel name="Password" />
      </section>
    </section>
    <section class="form-row Section">
      <section class="form-group col-md-6">
        <label>Account Priority</label><input type="number" min="1" max="20" value="1" #Priority ngModel name="Priority" />
      </section>
      <section class="form-group col-md-6">
        <label>Is Adminstrator</label><input type="checkbox" value=1 #Adminstrator ngModel name="Adminstrator" />
      </section>
    </section>
    <section id="OptionalHeader">
      <label>Additional Data</label>
    </section>
    <section class="form-row Section">
      <section class="form-group col-md-6">
        <input type="text" placeholder="First Name" #FirstName ngModel name="FirstName" />
      </section>
      <section class="form-group col-md-6">
        <input type="text" placeholder="Last Name" #LastName ngModel name="LastName" />
      </section>
    </section>
    <section class="form-row Section">
      <section class="form-group col-md-6">
        <input type="text" placeholder="ID Number" #IDNumber ngModel name="IDNumber" />
      </section>
      <section class="form-group col-md-6">
        <input type="text" placeholder="Phone Number" #Phone ngModel name="Phone" />
      </section>
    </section>
    <section class="form-row Section">
      <section class="form-group col-md-6">
        <label>Employment Date</label><input type="date" placeholder="Employment Date" #EmploymentDate ngModel name="EmploymentDate" />
      </section>
      <section class="form-group col-md-6">
        <input type="text" placeholder="Email" #Email ngModel name="Email" />
      </section>
    </section>
    <section class="form-row Section">
      <section class="form-group">
        <label>Professional Level</label><input type="number" min="1" max="20" value="1" #ProfessionalLevel ngModel name="ProfessionalLevel" />
      </section>
    </section>
    <button id="Button" type="submit">Register</button>
  </form>
</section>
